In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
from matplotlib import pyplot as plt

In [56]:
pop = pd.read_csv('../datasets/CleanedPopulation/Clean_population.csv')
pop2015 = pop.iloc[:,[0,4]]
pop2015.rename(columns={'2015' : 'population (K)'}, inplace=True)

gdp = pd.read_csv('../datasets/CleanedGDP/Clean_gdp2.csv')
gdp2015 = gdp.iloc[:,[0,4]]
gdp2015.rename(columns={'Country' : 'country', '2015' : 'GDP'}, inplace=True)
gdp2015.GDP = gdp2015.GDP.astype(int)

acute = pd.read_csv('../datasets/CleanedDiseases/CleanedAcute_Lower_Respiratory_infections.csv')
acute2015 = acute.iloc[:,[0,4]]
acute2015.rename(columns={'Countries' : 'country', '2015' : 'acute_deaths'}, inplace=True)

injuries = pd.read_csv('../datasets/CleanedDiseases/CleanedInjuries.csv')
injuries2015 = injuries.iloc[:,[0,4]]
injuries2015.rename(columns={'Countries' : 'country', '2015' : 'injuries_deaths'}, inplace=True)

measles = pd.read_csv('../datasets/CleanedDiseases/Cleanedmeasles_mortality.csv')
measles2015 = measles.iloc[:,[0,4]]
measles2015.rename(columns={'Countries' : 'country', '2015' : 'measles_deaths'}, inplace=True)

prematurity = pd.read_csv('../datasets/CleanedDiseases/CleanedPrematurity.csv')
prematurity2015 = prematurity.iloc[:,[0,4]]
prematurity2015.rename(columns={'Countries' : 'country', '2015' : 'prematurity_deaths'}, inplace=True)

sepsis = pd.read_csv('../datasets/CleanedDiseases/CleanedSepsis.csv')
sepsis2015 = sepsis.iloc[:,[0,4]]
sepsis2015.rename(columns={'Countries' : 'country', '2015' : 'sepsis_deaths'}, inplace=True)

merged = pd.merge(pop2015, gdp2015, on='country', how='inner')
merged = pd.merge(merged, acute2015, on='country', how='inner')
merged = pd.merge(merged, injuries2015, on='country', how='inner')
merged = pd.merge(merged, measles2015, on='country', how='inner')
merged = pd.merge(merged, prematurity2015, on='country', how='inner')
merged = pd.merge(merged, sepsis2015, on='country', how='inner')
merged

,country,population (K),GDP,acute_deaths,injuries_deaths,measles_deaths,prematurity_deaths,sepsis_deaths
0,Albania,3030,10970,2,26,0,87,8
1,Australia,22752,43923,7,79,0,249,10
2,Bangladesh,168958,3132,8563,8303,6,20859,12786
3,Brazil,204260,14702,896,2671,0,8656,3909
4,Burundi,10743,748,2503,2161,34,3449,1604
5,Canada,35100,43149,6,123,0,606,59
6,Chile,17509,22516,7,101,0,509,84
7,China,1367486,13569,5461,27372,1104,31132,2611
8,Colombia,46737,12985,213,597,0,2493,976
9,Dominican Republic,10479,13395,268,442,0,1737,608
10,Ecuador,15869,10749,86,462,0,1160,224
11,Ethiopia,99466,1533,16472,13428,21716,28950,16560
12,Fiji,910,8477,17,63,0,74,18
13,Germany,80855,43937,10,131,1,756,43
14,Guatemala,14919,7292,907,1178,0,1820,962
15,Haiti,10111,1651,2001,1378,0,2834,1169
16,India,1251696,5756,106367,40875,32742,311293,81239
17,Kenya,45926,2835,5339,5166,180,10286,4737
18,Mexico,121737,16938,989,2942,0,6762,2635
19,Morocco,33323,7296,899,1269,0,4077,1635
20,New Zealand,4439,35309,3,42,0,98,11
21,Nigeria,181563,5670,81127,40374,16186,86048,31209
22,Philippines,100999,6874,5295,5775,510,11458,4447
23,Poland,38563,25299,1,79,0,686,33
24,Russia,142424,24516,133,1546,0,3126,418
25,Saudi Arabia,27753,50723,55,528,0,1246,175
26,Serbia,7177,13277,2,25,0,265,11
27,Solomon Islands,623,2149,29,35,0,54,22
28,South Africa,53676,12377,3868,3912,292,6143,1825
29,Uganda,37102,1665,7238,5952,267,11320,6226
30,Ukraine,44430,7464,276,245,32,1118,107
31,United States,321369,53005,404,3318,0,7405,712